::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}

::selection {
    color: white;
    background-color: purple;
}

body {
    color: purple;
    display: grid;
    justify-content: center;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    margin: 50px 0;
}

input {
    text-align: center;
    margin: auto;
    background-color: white;
    border: none;
    color: purple;
    border-bottom: 1px solid purple;
    border-left: 1px solid purple;
    border-radius: 4px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

select {
    text-align: center;
    color: white;
    background-color: purple;
    border: none;
    max-width: 100px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

section {
    display: grid;
    max-width: 400px;
    margin: auto;
    text-align: center;
    grid-template-columns: 200px 200px;
}

button {
    cursor: pointer;
    height: 25px;
    width: 25px;
    font-weight: bolder;
    color: white;
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

img {
    width: fit-content;
    max-width: 180px;
    height: 12em;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

aside {
    z-index: 1;
    cursor: pointer;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    background-color: purple;
    color: white;
    min-width: fit-content;
}

aside>span {
    font-size: 35px;
}

#ttl {
    position: fixed;
    top: 0;
    left: 65px;
    height: 40px;
    width: 60px;
    color: white;
    text-align: right;
    background-color: purple;
    padding-right: 15px;
    border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
    -moz-border-radius: 0 0 10px 0;
    -ms-border-radius: 0 0 10px 0;
    -o-border-radius: 0 0 10px 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.pushed {
    width: 210px !important;
}

ol {
    display: none;
    max-width: fit-content;
}

.ball {
    z-index: 0;
    height: 1px;
    width: 1px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}